*{
  margin: 0;
  padding: 0;
}

/* make body full page */
html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.console{
  background-color: white;
  color: red;
  font-weight: bold;
}

/* menu */

.menu{
  background-color: rgba(0,0,0,0.75);
  color: red;
  width: 250px;
  height: 50%;
  position: absolute;
  font-weight: bold;
}

.menu_description{
  background-color: rgba(0,0,0,0.75);
  color: green;
  position: absolute;
  font-weight: bold;
  padding: 9px;
  font-size: 1.2em;
  max-width: 500px;
}

.menu h1{
  background-color: rgba(255,0,0,0.75);
  color: blue;
  text-align: center;
  font-size: 1.6em;
  padding: 6px;
}

.choices{
  overflow-y: scroll;
  overflow-x: hidden;
}

.choices::-webkit-scrollbar{ 
  display: none; 
}

.choices > div{
  padding: 6px;
  font-size: 1.3em;
}

.choices .selected{
  background-color: rgba(255,255,255,0.90);
  color: black;
}

/* progress bar */
.progressbar{
  position: absolute;
}

.progressbar .inner{
}

.progressbar .label{
  position: absolute;
  color: white;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px black;
}

/* dynamic class progress bar */
.dprogressbar{
  position: relative;
  padding: 0;
  margin: 0;
}

.dprogressbar .inner{
  height: 100%;
  padding: 0;
  margin: 0;
}

.dprogressbar .label{
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  vertical-align: middle;
  top: 0;
  left: 0;
  color: white;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px black;
}

/* wprompt */
.wprompt{
  position: absolute;
  background-color: rgba(0,0,0,0.75);
  color: white;
  width: 500px;
  height: 200px;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.wprompt h1{
  font-size: 1.1em;
}

.wprompt textarea{
  outline: none !important;
  background-color: rgba(0,0,0,0.75);
  border: 1px solid rgba(255,255,255,0.30);
  flex: 1;
  color: white;
  width: 100%;
  padding: 4px;
  resize: none;
  box-sizing: border-box;
}

.wprompt textarea:focus{
  outline: none !important;
}

.wprompt .help{
  font-size: 0.9em;
  font-style: italic;
  padding: 3px;
}

/* request manager */
.request_manager{
  position: absolute;
  top: 50px;
  right: 10px;
  text-align: right;
}

.request_manager div{
  margin-top: 10px;
}

.request_manager div > span{
  font-size: 1.2em;
  color: white;
  font-weight: bold;
  background-color: rgba(0,0,0,0.50);
  padding: 4px;
}

.request_manager .yes{
  padding-left: 15px;
  color: rgb(0,255,0);
  font-size: 1em;
}

.request_manager .no{
  color: rgb(255,0,0);
  font-size: 1em;
}

/* announce */

.announce_bg{
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 780px;
  height: 130px;
  padding: 10px;
  margin-left: -400px;
  display: none;
  opacity: 0.80;
}

.announce{
  width: 370px;
  height: 130px;
  font-weight: bold;
  font-size: 1.6em;
  text-shadow: 1px 1px black;
  color: white;
  display: none;
}